:root {
    /* 1 - BG PAGE & HEADER FORMAT */
    --light-gray: #F5F5F5;
    --dark-header: #000000 50%; /*Opacity 50%*/

    /* 1.1 - FORMAT TEKS MERAH & BIRU (SELURUH HALAMAN) */
    /* DAN #HASHTAG BIRU PUCAT */
    --teks-red: #FF0000;
    --teks-blue: #0D7CFF;
    --teks-lightblue: #41B3CC;
    --hashtag-paleblue: #207B98;

    /* 1.2 - Underline Title */
    --underline-merahgelap: #B91616;
    --underline-merahpucat: #F14C4C;
    --underline-oranyecerah: #FF9C07;
    
    /* 2 - HOMEPAGE */
    --homepage-light-gray-BG: #AFAFAF;
    --homepage-gray-BG: #6A6262;
    --homepage-darkgray-BG: #1B1A1A;
    /* 2.1 - Tentang Kami */
    --homepage-paleblue: #207B98;
    --homepage-blue: #0D7CFF;
    /* 2.2 - Yang kami kerjakan */
    --homepage-gray: #8C8888;
    --homepage-navyblue: #124A6A;
    /* 2.3 - Our Services */
    --homepage-darkgray: #3D3B3B;
    /* 2.4 - Our Selected Client */
    --homepage-palewhite: #F4F2F2;

    /* 3 - ABOUT US */
    /* 3.1 - Header dilabel hijau */
    --aboutUs-header-hijau: #CDF338;
    /* 3.2 - Text Color Visi & Misi */
    --aboutUs-visimisi-grey: #7B7874;
    /* 3.3 - Mengapa kok UMKM? */
    --aboutUs-lightOrange: #FFCA42;
    --aboutUs-lightBlue: #9BD2CB;
    /* 3.4 - Gradiasi Warna */
    /*1: 155, 210, 203, 100%: #73D2CB
    2: 33 , 112, 229, 100%: #2170E5
    3:  9 , 33 ,  68, 100%: #092144
    4:  0 ,  4 ,  10, 100%: #00040A*/
    --aboutUs-gradiasi-lightblue: #73D2CB;
    --aboutUs-gradiasi-blue: #2170E5;
    --aboutUs-gradiasi-navyblue: #092144;
    --aboutUs-gradiasi-darkblue: #00040A;
    /* 3.5 - bulan kuning fullmoon
    dan stik wand: */
    --aboutUs-freshyellow: #FAFF16;
    /* 3.6 - bintang wand: */
    --aboutUs-grey-wand: #ACA9A5;

    /* 4 - CONTACT US (ada di 1.1.) */

    /* 5 - Our Work, Portfolio, Services,
Sub-Hal. Our Portfolio */
    --ourWork-abugelap-BG: #6A6262;
    /* 5.1 - Our Portfolio */
    --ourWork-portfolio-abucerah: #D9D9D9;
    --ourWork-portfolio-merahGelap: #B91616;
    --ourWork-portfolio-navyBlue: #124A6A;
    /* 5.2 - Our Services */
    --ourWork-services-abugelap1: #3D3B3B;
    /* 5.3 - CTA di Sub Our Portfolio */
    --ourWork-subOurPortfolio-kuning: #FFE817;
    --ourWork-subOurPortfolio-dark: #444040;

    /* 6 - Sub-Hal Our Services */
    /* 6.1 - Header */
    --sub-ourservices-green: #587A4D;
    /* 6.2. Mengikuti No. 5 */
    /* 6.3. Bag. 'daftar List Jasa' */
    /* 6.3.1 - BG Color (abu2 Pucat): */
    --sub-ourservices-abupucat: #AFAFAF;
    /* 6.3.3 - Pada per Kotak Kategori: */
    --sub-ourservices-white: #ffffff;
    --sub-ourservices-palewhite: #F8F6F6;
    --sub-ourservices-grey: #BBB8BD;
    --sub-ourservices-darkgrey: #888181;

    /* 7 - FOOTER */
    /* Bag. Tombol 'Kirim Pesan' */
    --footer-yellow: #FFC700;
    --footer-paleyellow: #FFEFB8;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    width: 1012px;
    margin: 0 auto;
    /*background: red;*/
}

header {
    /*background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);*/
    height: 80vh;
    width: 100%;
}

header .header-homepage {
    background-image: url("aidia-png-svg/2 - Homepage/1 - Header Aidia Creative/image BG Header.PNG");
}

header .header-contactus {
    /*background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);*/
    background-image: url("aidia-png-svg/4 - Contact Us/contactUs-header-BG.PNG");
}

header .header-aboutus {
    background-image: url("aidia-png-svg/3 - About Us/aboutUs-header-BG.PNG");
}

header .header-ourworks {
    background-image: url("aidia-png-svg/5 - Our Work - Portfolio, Service/ourWorks-header-BG.PNG");
}

header .header-ourportfolio {
    background-image: url("aidia-png-svg/5 - Our Work - Portfolio, Service/5.1 - Our Portfolio/ourPortfolio-header-BG.PNG");
}

header .header-ouservices {
    background-image: url("aidia-png-svg/5 - Our Work - Portfolio, Service/5.2 - Our Services/ourServices-header-BG.PNG");
}


header h1 {
    color: #fff;
    font-size: 50px;
}

nav {
    /*padding-left: 6%;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 994px; 
    top: 10px;
    z-index: 100;

    /*background-color: #fff;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 994px; /*1320px*/
}

/*.nav-bg {
    background: #fff;
    
    width: 100vw;
    max-width: 100vw;
    margin: 0 calc(-50vw + 50%);
} */

nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style-type: none;
    
}

nav ul li a {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

/* Hero Section */
.hero-section {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
}

.hero-section-aboutus {
    text-align:left;
    max-width: 70%;
    color: white;
}

.hero-section-aboutus-image img {
    margin-right: 3%;
}

.hero-section-aboutus-image {
    z-index: 99;
    margin-left: 10%;
    margin-top: -5%;
}

.red-wave-symbol {
    margin-left: 80%;
    margin-top: -25%;
    z-index: 99;
}

.hero-section-contactus {
    margin-bottom: -5%;
    text-align:center;
    max-width: 70%;
    margin-left: 15%;
    color: white;
}

.bg-temanmumeraihmimpi {
    /* Bagian BG nya */
    width: 632px;
    height: 71px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #207B98;
    margin-left:5%;
}

.bg-temanmumeraihmimpi .temanmumeraihmimpi {
    padding-top: 0.5%;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero-section .hero-section-ourworks {
    margin-top: 15%;
    color: #fff;
    text-align: center;
    margin-left: 13%;
}

.hero-section .hero-section-ourworks h1 {
    font-size: 80px;
    margin-bottom: -3%;
}

.hero-section .hero-section-ourportfolio {
    margin-top: 15%;
    color: #fff;
    text-align: center;
    margin-left: 24%;
}

.hero-section .hero-section-ourportfolio h1 {
    font-size: 80px;
    margin-bottom: -3%;
}

.hero-section .hero-section-ourservices {
    margin-top: 15%;
    color: #fff;
    text-align: center;
    margin-left: 20%;
}

.hero-section .hero-section-ourservices h1 {
    font-size: 80px;
    margin-bottom: -3%;
}

