:root {
    /* 1 - BG PAGE & HEADER FORMAT */
    --light-gray: #F5F5F5;
    --dark-header: #000000 50%; /*Opacity 50%*/

    /* 1.1 - FORMAT TEKS MERAH & BIRU (SELURUH HALAMAN) */
    /* DAN #HASHTAG BIRU PUCAT */
    --teks-red: #FF0000;
    --teks-blue: #0D7CFF;
    --teks-lightblue: #41B3CC;
    --hashtag-paleblue: #207B98;

    /* 1.2 - Underline Title */
    --underline-merahgelap: #B91616;
    --underline-merahpucat: #F14C4C;
    --underline-oranyecerah: #FF9C07;
    
    /* 2 - HOMEPAGE */
    --homepage-light-gray-BG: #AFAFAF;
    --homepage-gray-BG: #6A6262;
    --homepage-darkgray-BG: #1B1A1A;
    /* 2.1 - Tentang Kami */
    --homepage-paleblue: #207B98;
    --homepage-blue: #0D7CFF;
    /* 2.2 - Yang kami kerjakan */
    --homepage-gray: #8C8888;
    --homepage-navyblue: #124A6A;
    /* 2.3 - Our Services */
    --homepage-darkgray: #3D3B3B;
    /* 2.4 - Our Selected Client */
    --homepage-palewhite: #F4F2F2;

    /* 3 - ABOUT US */
    /* 3.1 - Header dilabel hijau */
    --aboutUs-header-hijau: #CDF338;
    /* 3.2 - Text Color Visi & Misi */
    --aboutUs-visimisi-grey: #7B7874;
    /* 3.3 - Mengapa kok UMKM? */
    --aboutUs-lightOrange: #FFCA42;
    --aboutUs-lightBlue: #9BD2CB;
    --aboutUs-darkBlue: #092144;
    /* 3.4 - Gradiasi Warna */
    /*1: 155, 210, 203, 100%: #73D2CB
    2: 33 , 112, 229, 100%: #2170E5
    3:  9 , 33 ,  68, 100%: #092144
    4:  0 ,  4 ,  10, 100%: #00040A*/
    --aboutUs-gradiasi-lightblue: #73D2CB;
    --aboutUs-gradiasi-blue: #2170E5;
    --aboutUs-gradiasi-navyblue: #092144;
    --aboutUs-gradiasi-darkblue: #00040A;
    /* 3.5 - bulan kuning fullmoon
    dan stik wand: */
    --aboutUs-freshyellow: #FAFF16;
    /* 3.6 - bintang wand: */
    --aboutUs-grey-wand: #ACA9A5;

    /* 4 - CONTACT US (ada di 1.1.) */

    /* 5 - Our Work, Portfolio, Services,
Sub-Hal. Our Portfolio */
    --ourWork-abugelap-BG: #6A6262;
    /* 5.1 - Our Portfolio */
    --ourWork-portfolio-abucerah: #D9D9D9;
    --ourWork-portfolio-merahGelap: #B91616;
    --ourWork-portfolio-navyBlue: #124A6A;
    /* 5.2 - Our Services */
    --ourWork-services-abugelap1: #3D3B3B;
    /* 5.3 - CTA di Sub Our Portfolio */
    --ourWork-subOurPortfolio-kuning: #FFE817;
    --ourWork-subOurPortfolio-dark: #444040;

    /* 6 - Sub-Hal Our Services */
    /* 6.1 - Header */
    --sub-ourservices-green: #587A4D;
    /* 6.2. Mengikuti No. 5 */
    /* 6.3. Bag. 'daftar List Jasa' */
    /* 6.3.1 - BG Color (abu2 Pucat): */
    --sub-ourservices-abupucat: #AFAFAF;
    /* 6.3.3 - Pada per Kotak Kategori: */
    --sub-ourservices-white: #ffffff;
    --sub-ourservices-palewhite: #F8F6F6;
    --sub-ourservices-grey: #BBB8BD;
    --sub-ourservices-darkgrey: #888181;

    /* 7 - FOOTER */
    /* Bag. Tombol 'Kirim Pesan' */
    --footer-yellow: #FFC700;
    --footer-paleyellow: #FFEFB8;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    /*display: inline-block;
    position: relative;
    width: 100%;*/
    
    font-family: "Poppins", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.overflow-hidden {
    margin: 0;
    overflow-x: hidden;
}

/*@media screen and (max-width: 320px) {
    
}*/

/*@media screen and (max-width: 1300px) {
    
}*/

.wrapper {
    width: 1012px;
    margin: 0 auto;
    /*background: red;*/
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Hero Section */
/*.hero-section {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
}*/

.header-homepage {
    background-image: url("aidia-png-svg/2 - Homepage/1 - Header Aidia Creative/image BG Header.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-contactus {
    /*background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);*/
    background-image: url("aidia-png-svg/4 - Contact Us/contactUs-header-BG.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-aboutus {
    background-image: url("aidia-png-svg/3 - About Us/aboutUs-header-BG.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-ourworks {
    background-image: url("aidia-png-svg/5 - Our Work - Portfolio, Service/ourWorks-header-BG.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-ourportfolio {
    background-image: url("aidia-png-svg/5 - Our Work - Portfolio, Service/5.1 - Our Portfolio/ourPortfolio-header-BG.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-ouservices {
    background-image: url("aidia-png-svg/5 - Our Work - Portfolio, Service/5.2 - Our Services/ourServices-header-BG.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-designfeed-ig-services {
    background-image: url("aidia-png-svg/5.2 - Sub-Hal. Services/5.2.1 - Design Feeds IG/designFeedsIG-header-BG.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-shorvid-prod-services {
    background-image: url("aidia-png-svg/5.2 - Sub-Hal. Services/5.2.2 - Short Video Production/shortVid-header-BG.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-smm-services {
    background-image: url("aidia-png-svg/5.2 - Sub-Hal. Services/5.2.2 - Short Video Production/shortVid-header-BG.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-designfeed-ig-portfolio {
    background-image: url("aidia-png-svg/5.1 - Sub-Hal. Portfolio/5.1.2 - Design Feeds Instagram/design-feeds-instagram-header.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-shortvid-prod-portfolio {
    background-image: url("aidia-png-svg/5.1 - Sub-Hal. Portfolio/5.1.1 - Short Video Production/1 - Short Vid Header Image.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-smo-portfolio {
    background-image: url("aidia-png-svg/5.1 - Sub-Hal. Portfolio/5.1.3 - Social Media Optimization (SMO)/sosmed-optimization-header.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    color: #fff;
    font-size: 50px;
}

nav {
    /*width: 994px;
    height: 100px;
    z-index: 100;*/
    
    width: 100vw;
    max-width: 100vw;
    margin: 0 calc(-50vw + 50%);
    padding: 1% 0;
    background: rgba(255, 255, 255, 30%);
    z-index: 100;
    position: fixed;
    left: 0;

    /*background-color: #fff;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 994px; /*1320px*/
}

.first {
    background: rgba(255, 255, 255, 30%);
}

.second {
    opacity: 10;
}

.nav-bg {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    /*
    align-items: flex-start;
    align-content: space-between;*/
}

.nav-bg img {
    margin-left: 40%;
}

.nav-bg .navbar-right {
    margin-left: 10%;
    /*background-color: red;*/
}

.nav-bg ul {
    width: 100vw;
    max-width: 100vw;
    margin: 0 calc(-50vw + 50%);
}

.navbar-right-position ul {
    margin-left: 25%;
}

@media only screen and (max-width: 991.33px) {
    .navbar-right-position ul {
        margin-left: 0%;
    }
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    list-style-type: none;
    /*background-color: lightgreen;*/
}


nav ul li a {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

/* Hero Section */
.hero-section {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
}

.hero-section h1 {
    font-size: 60px;
    color: #fff;
}

.hero-section-aboutus {
    max-width: 70%;
    color: white;
    max-height: 100%;
}

.hero-section-aboutus h1 {
    margin-left: 15%;
    margin-top: 10%;
}

.hero-section-aboutus p {
    margin-left: 15%;
}

.hero-section-aboutus-image img {
    margin-right: 1%;
}

.hero-section-aboutus-image {
    z-index: 99;
    margin-left: 10%;
    margin-top: -5%;
}

.red-wave-symbol {
    margin-left: 80%;
    margin-top: -25%;
    z-index: 99;
}

.hero-section-contactus {
    margin-bottom: -5%;
    text-align:center;
    max-width: 70%;
    margin-left: 15%;
    color: white;
}

/* untuk #TemanmuMeraihMimpi pada masing2 HTML disetkan sendiri stylenya secara Position: Absolute
lalu atur sendiri margin nya. */

.bg-temanmumeraihmimpi {
    /* Bagian BG nya */
    width: 632px;
    height: 71px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #207B98;
    margin: 2% auto;
}

.bg-temanmumeraihmimpi h3 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-top: 3%;
}

/*.bg-temanmumeraihmimpi .temanmumeraihmimpi {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}*/

.bg-tag-umkm {
    /* Bagian BG nya */
    width: 632px;
    height: 71px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFCA42;
    margin-bottom: 5%;
}

.bg-tag-umkm h3 {
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    padding-top: 3%;
}

.hero-section-ourworks {
    text-align: center;
    max-width: 70%;
    margin-left: 20%;
    margin-top: 15%;
    color: #fff;
}

.hero-section-ourworks h1 {
    padding-bottom: 2%;
}

.hero-section-contactus {
    margin-bottom: -5%;
    text-align:center;
    max-width: 70%;
    margin-left: 15%;
    color: white;
}

.hero-section-ourworks h1 {
    font-size: 80px;
    margin-bottom: -3%;
    text-align: center;
}

.hero-section .hero-section-ourportfolio {
    margin-top: 15%;
    color: #fff;
    text-align: center;
    margin-left: 24%;
}

.hero-section .hero-section-ourportfolio h1 {
    font-size: 80px;
    margin-bottom: -3%;
}

/* Menggunakan .hero-section-services KARENA TINGGI HEADER KURANG */

.hero-section-services {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.hero-section-services .hero-section-ourservices {
    color: #fff;
    text-align: center;
    margin-top: 15%;
}

.hero-section-services .hero-section-ourservices h1 {
    font-size: 80px;
    padding-bottom: -3%;
}

/* Menggunakan .hero-section TANPA SERVICES, dikarenakan Tinggi Header perlu Spacing */

.hero-section .hero-services-subsection {
    margin-top: 8%;
    color: #fff;
    text-align: center;
}

.hero-section .hero-services-subsection h1 {
    font-size: 60px;
    margin-bottom: 5px;
}

.hero-section .hero-services-subsection p {
    font-size: 15px;
    width: 70%;
    margin: 0 auto;
}

.hero-section .hero-services-subsection h2 {
    font-size: 40px;
    margin-bottom: -0.1px;
}

.button-services-green {
    margin-top: 10px;
    background-color: #587A4D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 4px;
}

.button-services-green:hover {
    cursor: pointer;
}


/* Sub-Hal Portfolio MENGGUNAKAN .hero-section-portfolio, karena Ukuran Tinggi Header lebih Pendek */

.hero-section-portfolio {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.hero-section-portfolio .hero-subsection-portfolio {
    color: #fff;
    text-align: center;
    margin-top: 14%;
}

/* BG-1: Warna Gray #AFAFAF */
.background-1 {
    content: '';
    background: var(--homepage-light-gray-BG);
    left: 50%;
    /*margin-left: 50%;
    transform: translateX(-50%);
    width: 100vw;*/
    text-align:center;
    font-family: "Poppins", sans-serif;
}

/*.background-1 .articles {
    width: 994px;
    align-items: baseline;
    justify-content: space-between;
    text-align: center;
    margin-left: 10%;
    margin-top: 3%;
    font-family: "Poppins", sans-serif;
}*/

.background-1 h2 {
    color: #fff;
    font-size: 40px;
    padding-top: 2%;
}

.background-1 p {
    color: #282622;
    margin-top: 1.5%;
    max-width: 80%;
    margin: 2% auto;
}

.background-1 h3 {
    font-size: 25px;
}

/* BG-2: BG Standar Polos */
.background-2 {
    content: '';
    background: var(--light-gray);
    font-family: "Poppins", sans-serif;
}

.background-2 h2 {
    text-align: center;
    font-size: 40px;
    padding-top: 3%;
}

.background-2 div {
    margin-top: 3%;
}

.mengapa-pilih-aidia {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-around;
    font-family: "Poppins", sans-serif;
}

.mengapa-pilih-aidia ul ol h3 {
    font-size: 30px;
}

.mengapa-pilih-aidia ul h3 {
    margin-left: -20%;
    padding-top: 10%;
}

.mengapa-pilih-aidia ul img {
    margin-left: -20%;
}

.mengapa-pilih-aidia ul p {
    margin-left: -20%;
}

/*
.flex-our-portfolio {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 5%;
}
*/

.mengapa-pilih-aidia ul ol {
    padding-bottom: 8%;
}

.mengapa-pilih-aidia ul ol:last-child {
    margin-bottom: 0%;
}

.mengapa-pilih-aidia ul {
    text-align: center;
    width: 30%;
}

.mengapa-pilih-aidia ul h3 {
    font-size: 20px;
}

/* BG-3: Warna Gray #AFAFAF Seperti BG-1, hanya saja ini TANPA CLASS .ARTICLE-nya */
.background-3 {
    content: '';
    background: var(--homepage-light-gray-BG);
    font-family: "Poppins", sans-serif;
    padding-bottom: 3%;
}

.background-3 h2 {
    text-align: center;
    font-size: 40px;
    color: #fff;
    padding-top: 3%;
    padding-bottom: 1%;
}

.background-3 .underline {
    margin: 0 auto;
}

/*BG-4: Warna Gray Gelap */
.background-4 {
    content: '';
    background: var(--ourWork-abugelap-BG);
    font-family: "Poppins", sans-serif;
    padding-bottom: 1%;
}

.background-4 .underline {
    /*left:34%;
    top:5%;*/
    margin: 0 auto;
}

.background-4 h2 {
    text-align: center;
    font-size: 40px;
    color: #fff;
    padding-top: 3%;
}

.background-4 .flex-our-services h3 {
    font-size: 25px;
    margin-top: 6%;
}

.background-4 .flex-our-services img {
    border-radius: 3%;
}

.background-4 p {
    font-size: 15px;
    margin-top: 5%;
}

.background-5 {
    content: '';
    background: var(--homepage-darkgray-BG);
    padding-bottom: 2%;
}

.background-5 h2 {
    font-size: 40px;
    color: #fff;
    margin-left: 5%;
    padding-top: 3%;
}

.background-6 {
    content: '';
    background: var(--aboutUs-lightBlue);
}

.background-6 h2 {
    font-size: 40px;
    color: #fff;
}

.background-7 {
    content: '';
    background: var(--aboutUs-darkBlue);
}

.background-7 h2 {
    text-align: center;
    font-size: 40px;
    color: #fff;
    padding-top: 3%;
    padding-bottom: 1%;
}

.flex-our-portfolio {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: center;
    margin-top: 5%;
    margin-left: 15%;
    font-family: "Poppins", sans-serif;
}

.flex-our-portfolio ul {
    background-color: #8C8888;
    width: 350px;
    height: 250px; /*auto*/
    padding-bottom: 3%;
    border-radius: 5%;
    margin-right: 7%;
    margin-bottom: 5%;

    /*display: grid;
    background-color: #8C8888;
    border: none;
    margin-right: 80px;
    width: 400px;
    height: 250px; 
    border-radius: 5%;*/
    /*position: absolute;
    width: 500px;
    height: 295px;
    border-radius: 5%;*/
}

.flex-our-portfolio img {
    width:165px;
    height: 215px;
    margin-left: -17%;
    margin-top: -7%;
    /*background-color: rgba(0,0,0,0.5);
    grid-row-start:1;
    grid-column-start: 1; */
    
    /*position: absolute;
    margin-left: -5%;
    margin-top: -3%;*/
}

.flex-our-portfolio svg {
    margin-left: 70%;
    margin-top: -25%;
    /*position: absolute;
    margin-top: 20%;
    margin-left: 27.5%;*/
}

.flex-our-portfolio h3 {
    font-size: 18px;
    margin-top: -12%;
    margin-left: -12%;
    /*position: absolute;
    margin-top: 13.5%;
    margin-left: -4%;*/
}

.flex-our-portfolio p {
    margin-left: -12%;
    margin-top: -3%;
    font-size: 15px;
    /*position: absolute;
    margin-top: 20%;
    margin-left: -4%;*/
}

.button-our-portfolio {
    width: 498px;
    height: 69px;
    border-radius: 30px;
    border: none;
    background: #124A6A;
    font-size: 25px;
    color: #fff;
    margin: 5% auto;
    margin-left: 28%;
    font-family: "Poppins", sans-serif;
    margin-top: 0%;
}

.button-view-our-portfolio {
    width: 100%;
    height: 69px;
    border-radius: 30px;
    border: none;
    background: #124A6A;
    font-size: 25px;
    color: #fff;
    margin: 5% auto;
    margin-top: -2%;
}

.div-showcase-portfolio {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.div-img-showcase-portfolio {
    margin-right: 2%;
    margin-bottom: 2%;
}

div.short-vid-port-layout {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: center;
    margin-left: 9%;
}

div.short-vid-port-layout .sub-short-vid-port-layout {
    margin-right: 5%;
    margin-bottom: 5%;
}

/*.short-vid-port-layout ul img {
    width: 250px;
}*/

div.sub-short-vid-port-layout {
    position: relative;
    display: flex;
    flex-direction: column;
}

/*div.sub-short-vid-port-layout img {
    width:250px;
}*/

.short-vid-layout-size {
    width: 250px;
    height: 350px;
}

.arrow-cta-position {
    position: relative;
    margin-left: 90%;
    z-index: 10;
}

.button-view-more-shortvid-portfolio {
    width: 250px;
    height: 69px;
    border-radius: 0 0 30px 30px;
    border: none;
    background: #124A6A;
    font-size: 25px;
    color: #fff;
    margin-top: -2%;
}

.button-whatsapp-kami {
    width: 100%;
    height: 69px;
    border-radius: 30px;
    border: none;
    background: #24BF0B;
    font-size: 25px;
    color: #fff;
    margin: 5% auto;
}

.flex-our-services {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;
    margin-top: 5%;
    color: #fff;
    padding-bottom: 5%;
}

.flex-our-services ul {
    background-color: #3D3B3B;
    width: 456px;
    height: auto;
    padding-bottom: 3%;
    border-radius: 5%;
    margin-bottom: 5%;
}

.flex-our-services ul ol {
    margin-top: 2%;
    margin-left:-8%;
}

.flex-our-services .service-underline {
    width: 185px;
    height: 3px;
    background: #fff;
    margin-left: -0%;
    margin-bottom: 6.5%;
    margin-top: 2%;
}

.flex-our-services img {
    width: 395px;
}

.flex-our-services h3 {
    font-size: 30px;
}

.flex-our-services p {
    margin-right: 7%;
}

.flex-our-services button {
    background:none;
    border: none;
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 17px;
    font-weight: 900;
    margin-left: -1%;
}

.flex-our-services button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.div-article-offer {
    margin-left: 9%;
    max-width: 82%;
    font-family: "Poppins", sans-serif;
}

.div-article-offer h2 {
    margin-top: 5%;
    font-size: 60px;
    text-align:center;
}

.div-article-offer .sub-div-article-offer {
    margin: 5% auto;
}

.div-article-offer .sub-div-article-offer h3 {
    font-size: 40px;
    text-align: center;
}

.div-article-offer .sub-div-article-offer p {
    text-align: center;
}

.div-pembatas-halaman {
    border: 1px solid gray;
    width: 100%;
}

.div-cta-whatsapp h3 {
    max-width: 90%;
    text-align:center;
    margin-left: 5%;
    margin-bottom: -2%;
    font-size: 40px;
}


.div-article-offer .sub-div-article-offer p {
    font-size: 20px;
}

/*.flex-selected-clients {
    margin-left: 10.5%;
}*/

.flex-selected-clients ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: space-between;
    margin-top: 5%;
    margin-bottom: 5%;
}

.flex-selected-clients ul img {
    width: 165px;
    height: 165px;
}


/* BAGIAN ABOUT US */

.about-us-tim-aidia {
    padding-top: -20%;
    background-image: url("aidia-png-svg/3 - About Us/image-team-aidia.PNG"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 743px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.about-us-visi {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.about-us-visi .visi-misi-layout {
    width: 50%;
}

.visi-layout h2 {
    text-align:left;
    padding-left: 5%;
    color: #fff;
}

.visi-layout p {
    font-size: 30px;
    margin-left: 5%;
    margin-right: 1%;
    margin-top: 3%;
}

.misi-layout h2 {
    text-align:right;
    padding-right: 5%;
    color: #fff;
}

.misi-layout p {
    font-size: 30px;
    margin-right: 5%;
    margin-left: 1%;
    margin-top: 3%;
    text-align: right;
}

.visi-image-size {
    background-image: url("aidia-png-svg/3 - About Us/image-visi.PNG");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 300px;
    width:30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.misi-image-size {
    background-image: url("aidia-png-svg/3 - About Us/image-misi.PNG");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 300px;
    width:30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper .flex-visi-misi {
    width: 100vw;
    max-width: 100vw;
    margin: 0 calc(-50vw + 50%);
}

.flex-visi-misi ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-visi-misi ul ol {
    background-color: red;
}

.layout-aboutus-why-umkm {
    margin-left: 9.5%;
    padding-top: 3%;
    margin-right: 9.5%;
}

.layout-aboutus-why-umkm h2 {
    margin-bottom: 2%;
}

.layout-aboutus-why-umkm p {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.umkm-flex-layout {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-bottom: 5%;
}

.umkm-flex-layout .umkm-flex {
    width: 50%;
}

.umkm-flex img {
    width: 455px;
    height: 455px;
}

.umkm-flex-layout .umkm-text-position {
    margin-top: 6%;
    margin-right: 9%;
}

.img-width {
    width: 100%;
}

.flex-row-contact-us {
    padding-bottom: 1%;
}

.flex-row-contact-us ul {
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: -3%;
}

.layout-list-contact table tr th {
    /*border: 1px solid black;*/
    text-align:left;
    padding-bottom: 10px;
}

.layout-list-contact table h3 {
    margin-bottom: -3%;
    margin-top: 2.5%;
    margin-left: 5%;
}

.layout-list-contact table p {
    margin-left: 5%;
}

.our-sosmed-list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -5%;
}

.underline {
    background: #B91616;
    width: 206px;
    height: 8px;
}

footer {
    content: '';
    background: var(--ourWork-abugelap-BG);
    /*left: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100vw;*/
    color:#fff;
    background-color: #104D50;
    font-family: "Poppins", sans-serif;
    padding-bottom: 2%;
}

footer .column-1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: space-between;
    margin-left: 5%;
    padding-top: 3%;
    margin-bottom: 1%;
}

footer .motto-aidia-footer {
    color:#fff;
    margin-right:7%;
}

footer .motto-aidia-footer p {
    font-size:20px;
    margin-bottom:1%;
}

footer .motto-aidia-footer button {
    background:none;
    border:none;
    font-family: "Poppins", sans-serif;
    color: #fff;
    background-color: #FFC700;
    width: 295px;
    height: 50px;
    font-weight: 700;
    font-size: 25px;
    border-radius:10px;
}

footer .contact-us-footer {
    max-width: 62%;
    margin-right: -19%;
}

footer .contact-us-footer h3 {
    margin-bottom: 5.5%;
}

footer .sub-contact-us-footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 70%;
    margin-left: -10%;
    margin-top: -3%;
}

footer .sub-contact-us-footer h3 {
    font-size: 14px;
}

footer .sub-contact-us-footer p {
    font-size: 10px;
}

footer .sub-contact-us-footer ol {
    width: 35%;
}

footer .our-sosmed-footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left:-16%;
}

footer .our-sosmed-footer ol {
    margin-right: -19%;
}

footer .our-company-footer {
    margin-bottom: 1%;
}

footer .our-company-footer h3 {
    font-size:25px;
    margin-bottom:7%;
}

footer .sub-our-company-footer button {
    background:none;
    border:none;
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-weight: 850;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

footer .sub-our-company-footer button:hover {
    cursor:pointer;
    text-decoration:underline;
}

/*
.flex-our-services button {
    background:none;
    border: none;
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 17px;
    font-weight: 900;
    margin-left: -1%;
}
*/

footer ul {
    margin-left: -7%;
}